---
  tpl_cache_file: ./template_cache.yaml

  ranges: 
    routable_block: 
      - "1.2.32.0/24"
      - "1.2.33.0/24"
      - "1.2.34.0/24"
      - "1.2.35.0/24"
  actions: 
    send_email: 
      type: "exec"
      cmd: "sendmail noc@helpme.com %(event_name)s: %(ip)s on subnet %(subnet)s (Group %(group)s)"
    trigger_ddos_mitigation: 
      type: "exec"
      cmd: "ssh root@%(src_ip)s add-subnet-to-ddos-prefix %(subnet)s"
  groups: 
    AS12345: 
      active_timeout: 60 # Active flows are exported from the router every 60s
      idle_timeout: 60 # Idle flows are exported from the router every 60s
      slot_length: 5 # Bucket flows into 5s time periods for calculations
      listen_host: "0.0.0.0"
      listen_port: "2055"
      sources: 
        bdr1-site1: 
          src_ip: "1.2.32.1"
        bdr1-site2: 
          src_ip: "1.2.34.1"
      sinks: 
        site1: 
          host: "1.2.32.10:2056"
          type: "json_udp"
        site2: 
          host: "1.2.34.10:2056"
          type: "json_udp"
      thresholds: 
        as_high_pps:
          type: "as-abs"
          high-water: 100000
          low-water: 50000
          expires: 300
          as_number: 0
          on_high_water:
            send_email:
              delay: 0

        host_high_pps: 
          type: "host-abs"
          metric: "pps"
          high-water: 50000
          low-water: 2000
          expires: 300
          ranges: 
            - "routable_block"
          on_high_water: 
            send_email: 
              delay: 0
            trigger_ddos_mitigation: 
              delay: 60
          on_low_water: 
            send_email: 
              delay: 60
          on_expire: 
            disable_ddos_mitigation: 
              delay: 0

