---
  tpl_cache_file: ./template_cache.yaml
  redis_host: "127.0.0.1"
  redis_port: 6379
  redis_save_delay: 300
  history_max: 7200


  ranges: 
    "My Network Routable": 
      - "1.2.32.0/24"
      - "1.2.33.0/24"
      - "1.2.34.0/24"
      - "1.2.35.0/24"
  actions: 
    send_email: 
      type: "exec"
      cmd: "echo 'Anomaly name: ${name}\nDirection: ${direction}\nStarted at: ${started_readable}\nStopped: ${stopped_readable}\nTrigger value: ${start_value}${metric} > ${high_water}${metric} for ${trigger_duration}s\nPeak value: ${peak_value}${metric}\nReadings: ${readings}\n' | sendmail user@noc.com -f alerts@noc.com 'ANOMALY ACTIVE: ${name} - ${as_number} ${direction}'\n"
    trigger_ddos_mitigation: 
      type: "exec"
      cmd: "ssh root@%(src_ip)s add-subnet-to-ddos-prefix %(subnet)s"

  groups: 
    "My Network": 
      local_as: 65001
      active_timeout: 60
      idle_timeout: 60
      slot_length: 5
      listen_host: "0.0.0.0"
      listen_port: "2055"
      interesting_ports: [80, 443, 8080, 22, 123, 53]
      sources: 
        bdr1-site1: 
          src_ip: "1.2.32.1"
        bdr1-site2: 
          src_ip: "1.2.34.1"
      graphite_host: "1.2.3.4"
      graphite_port: "2010"
      sinks: 
        site1: 
          host: "1.2.32.10:2056"
          type: "json_udp"
        site2: 
          host: "1.2.34.10:2056"
          type: "json_udp"
      thresholds: 
        "AS High BPS":
          type: "as-abs"
          high_water: 10000
          low_water: 7000
          metric: bps
          duration: 30
          expires: 300
          as_number: 65001 # Our AS
          direction: inbound
          on_active:
            send_email:
              delay: 30
          on_inactive:
            send_email:
              delay: 30

        "Host High PPS": 
          type: "host-abs"
          metric: "pps"
          high_water: 50000
          low_water: 2000
          duration: 60
          expires: 300
          ranges: 
            - "My Network Routable"
          on_high_water: 
            send_email: 
              delay: 0
            trigger_ddos_mitigation: 
              delay: 60
          on_low_water: 
            send_email: 
              delay: 60
          on_expire: 
            disable_ddos_mitigation: 
              delay: 0

